<!DOCTYPE Html> 
<html>
<title>Events</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Events</h2>
  <button class="button" onclick="alert('Create New EVent')"> Create New Event</button> 

  <ul class="w3-ul w3-card-4">
    <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item">
        <span class="w3-large">Pathfinder</span><br>
 <!--   <span>Sign Up</span> -->

        </div>
    </li>

    <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item">
        <span class="w3-large">Spotlight</span><br>
      <!--   <span>Support</span> -->
      </div>
    </li>

    <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item">
        <span class="w3-large">Girls Day</span><br>
       <!--   <span>Accountant</span> -->
      </div>
    </li>
  </ul>
</div>
</html>