@model IEnumerable<GirlsEmpowermentNetwork.Models.Event>

<ul>
  @foreach (var item in Model)
  {
    <li>
      @Html.ActionLink(item.Name, "Index", "MessageConsole", new {eventId=item.Id})
    </li>
  }
</ul>

